# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [380]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [381]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_path = Path('./Resources/applicants_data.csv')
applicant_data_df = pd.read_csv(applicant_data_path)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [382]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [383]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])
# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [384]:
# Create a list of categorical variables (i.e.: object types) 
categorical_variables = applicant_data_df.select_dtypes(include = [object]).keys()

# Display the categorical variables list
applicant_data_df[categorical_variables].dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
dtype: object

In [385]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [386]:
# Encode the categorcal variables using OneHotEncoder
#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables]).toarray()
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [387]:
# Create a DataFrame with the encoded variables
#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
encoded_df = pd.DataFrame(encoded_data, index=applicant_data_df.index)
# Review the DataFrame
encoded_df

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [388]:
other_origcols_df = applicant_data_df.drop(columns=categorical_variables)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([other_origcols_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,0,1,2,3,4,5,6,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [389]:
# My validation step thru get_dummies - Optional: 


encoded_df_getdummies_validation = pd.get_dummies(applicant_data_df, columns = categorical_variables)
encoded_df_getdummies_validation

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

Step4 Validation Result: 
- SUCCESSFUL: When executing and OneHotEncoder() (required) and get_dummies() (my additional check) in the applicant_data_df categorial variables (objects), 
- the exact same result was returned except 'new' category column header names - automatically-generated and intuitive by get dummies

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [390]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [391]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X[:5]

# probably steps when using dummies skipping Step4: oneHotEncoder()
#y = applicant_data_df['IS_SUCCESSFUL']
#X = applicant_data_df.drop(columns='IS_SUCCESSFUL')
#X = pd.get_dummies(X) at Step4

,STATUS,ASK_AMT,0,1,2,3,4,5,6,7,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [392]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [393]:
X_test.shape

(8575, 116)

In [394]:
X_train.shape

(25724, 116)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [395]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\programdata\anaconda3\envs\dev\lib\site-packages\sklearn\utils\validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
C:\programdata\anaconda3\envs\dev\lib\site-packages\sklearn\utils\validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
C:\programdata\anaconda3\envs\dev\lib\site-packages\sklearn\utils\validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [396]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [397]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [398]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 180
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

180

In [399]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 60

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

60

In [400]:
# Create the Sequential model instance
nn = Sequential()

In [401]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [402]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))#activation="swish"))

In [403]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [404]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_46 (Dense)            (None, 180)               21060

 dense_47 (Dense)            (None, 60)                10860

 dense_48 (Dense)            (None, 1)                 61

=================================================================
Total params: 31,981
Trainable params: 31,981
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [405]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [406]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7250: 0s - los - ETA: 0s - loss: 0.5704 - accuracy: 0.72 - ETA: 0s - loss: 0.5707 - accuracy: 0.72
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7295: 1s - ETA: 0s - loss: 0.5477 - accuracy:  - ETA: 0s - loss: 0.5480 - accuracy - ETA: 0s - loss: 0.5482 - accuracy:
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7324: 0s - loss: 0.5476 - accuracy: 0.73 - ETA: 0s - loss: 0.5466 -
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7339
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7338
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7365: 0s - loss: 0.5406 - accura
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7374: 0s - loss: 0.5
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7366:  - ETA: 0s - loss: 0.5356 - accuracy: 0. - ETA: 0s - loss: 0.5376 - accu
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7385
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7389
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7385: 0s - loss: 0.5349 - accu - ETA: 0s - loss: 0.5372 - accuracy: 0.
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7383 - ETA: 0s - loss: 0.5383 - ac
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7388
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7399: 0s - loss:
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7394:  - ETA: 0s - loss: 0.5345
Epoch 26/50
804/804 [==============================] - ETA: 0s - loss: 0.5350 - accuracy: 0.73 - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7394: 0s - loss: 0.5324 - accuracy - ETA: 0s - loss: 0.5339 - accuracy: 0.
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7403: 0s - loss: 0.5367 - accura - ETA: 0s - loss: 0
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7407: 0s - loss: 0.5242 - accuracy: 0. - ETA: 0s - loss: 0.5272 - accuracy:  - ETA: 0s - l
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7404: 0s - loss: 0.5277 - accuracy:  - ETA: 0s - loss:
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7413: 0s - loss: 0.5298 - accu
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7424: 0s - l
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7412
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [407]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5588 - accuracy: 0.7296 - 407ms/epoch - 2ms/step
Loss: 0.5587626695632935, Accuracy: 0.7295626997947693

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [408]:
# Save model as json just in case
nn_json = nn.to_json()

json_file_path = Path("./Resources/model.json")
with open(json_file_path, "w") as json_file:
    json_file.write(nn_json)



# Set the model's file path
h5_file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save_weights(h5_file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [409]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [410]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [411]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 60

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

60

In [412]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [413]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_49 (Dense)            (None, 60)                7020

 dense_50 (Dense)            (None, 1)                 61

=================================================================
Total params: 7,081
Trainable params: 7,081
Non-trainable params: 0
_________________________________________________________________

In [414]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [415]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5818 - accuracy: 0.7191: 0s - loss: 0
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7303
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7299: 0s -
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7315
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7313: 0s - loss: 0
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7308: 0s - loss: 0.5365 - accuracy - ETA: 0s - loss: 0.5387 - accuracy: 0. - ETA: 0s - loss:
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7311: 0s - loss: 0.537 - ETA: 0s - loss: 0.5456 - accuracy
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7326
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7332: 0s - loss: 0.5473  - ETA: 0s - loss: 0.5466 - accura - ETA: 0s - loss: 0.5451 - accuracy: 0.73 - ETA: 0s - loss: 0.5453 - accuracy: 0.73
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7327
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7338
Epoch 17/50
804/804 [==============================] - ETA: 0s - loss: 0.5444 - accuracy: 0.73 - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7342
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7331: 0s - loss: 0.5359 - accuracy:  - ETA: 0s
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7332
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7334: 0s - loss: 0.5408 - accura - ETA: 0s - loss: 0.5418 - accuracy: 0.73
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7327
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7329: 1s - loss: 0.5400 - ac - ETA: 0s - loss: 0.5367 - accura - ETA: 0s - loss: 0.5391 - accuracy: 0.73 - ETA: 0s - loss: 0.5394 - ac
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7357: 1s - loss: 0.5256 - accuracy - ETA: 1s - loss: 0 - ETA: 0s - loss: 0.5389 -
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7351
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7341
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7354: 0s - loss: 0.5399 - accura
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357: 0s - los - ETA: 0s - loss: 0.5396 - accuracy
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7351
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7350
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7371: 0s - loss: 0.5357 - accura - ETA: 0s - loss: 0.537
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7348
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7369: 0s - loss: 0.5343 - ac - ETA: 0s - loss: 0.5351 -
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7349
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7346
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7369: 0s - loss: 0.542
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7366
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7371
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7362
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7362: 0s - loss: 0.531 - ETA: 0s - loss: 0.5352
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7371: 0s - los
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7381

#### Alternative Model 2

In [416]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [431]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [432]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 30
hidden_nodes_layer2_A2 = 30
hidden_nodes_layer3_A2 = 30

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

30

In [433]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [434]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", kernel_initializer='he_uniform', input_dim=number_input_features))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="softmax", kernel_initializer='he_uniform', input_dim=number_input_features))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu", kernel_initializer='he_uniform', input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_55 (Dense)            (None, 30)                3510

 dense_56 (Dense)            (None, 30)                930

 dense_57 (Dense)            (None, 30)                930

 dense_58 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,401
Trainable params: 5,401
Non-trainable params: 0
_________________________________________________________________

In [435]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [436]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5869 - accuracy: 0.7021
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7331: 0s - loss: 0.5510 - accuracy:
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7329
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7357: 0s - loss: 0.5424 -  - ETA: 0s - loss: 0.5449 - accuracy
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7354
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7357: 0s - los
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7374: 0s - loss: 0.5449 - accuracy - ETA: 0s - loss: 0.5442 - accu
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7361
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7382: 1s - loss: 0.5677 - accuracy
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7383: 0s - loss: 0.5307  - ETA: 0s - loss: 0.5375 - accura - ETA: 0s - loss: 0.5382 - accura
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7375
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7378: 0s - loss: 0.5383 - accu
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7387:
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7394: 1s - loss: 0.5353 - accura - ETA: 0s - loss: - ETA: 0s - loss: 0.5367 - accuracy:
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7388: 0s - loss: 0.5355 - accuracy: 0.73
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7392: 0s - loss: 0.5349  - ETA: 0s - loss: 0.5356 - accuracy: 0.
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7389
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7404
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7395: 0s - loss: 0.5341 - accu
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7400: 0s - loss: 0.5335 - accu
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7411: 0s
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7397: 0s - loss: 0.5319 - accuracy
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7400: 0s - loss: 0.5309 -
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7412
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7402

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [428]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5588 - accuracy: 0.7296 - 316ms/epoch - 1ms/step
Loss: 0.5587626695632935, Accuracy: 0.7295626997947693

In [429]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5648 - accuracy: 0.7305 - 292ms/epoch - 1ms/step
Loss: 0.5647584795951843, Accuracy: 0.7304956316947937

In [437]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5511 - accuracy: 0.7292 - 378ms/epoch - 1ms/step
Loss: 0.5511018633842468, Accuracy: 0.7292128205299377

### Step 3: Save each of your alternative models as an HDF5 file.

In [438]:
#Function to save both model JSON and H5 with fileTag(version)
def save_model(p_nn, p_fileTag):
    nn_json = p_nn.to_json()

    json_file_path = Path("./Resources/model"+p_fileTag+".json")
    
    with open(json_file_path, "w") as json_file:
        json_file.write(nn_json)

    # Set the model's file path
    h5_file_path = Path('./Resources/AlphabetSoup'+p_fileTag+'.h5')

    # Export your model to a HDF5 file
    p_nn.save_weights(h5_file_path)

In [439]:

# Set the file path for the first alternative model
file_tag = '_A1'
# Export your model to a HDF5 file
save_model(nn_A1, file_tag)

In [441]:
# Set the file path for the second alternative model
file_tag = '_A2'

# Export your model to a HDF5 file
save_model(nn_A2, file_tag)